<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>

<body class="text-center">
    <form class="form-signup col-md-3" action='/edit' method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Cadastre-se</h1>
        <div class="form-group">
            <input type="hidden" value="<%= user.id %>" name="usertoedit"/>
            <input class="form-control" value="<%= user.username %>" type="text" placeholder="Login do usuário" name="loginUser" />
            <input class="form-control" value="<%= user.password %>" type="text" placeholder="Senha" name="passwordUser" />
            <input class="form-control" value="<%= user.name %>" type="text" placeholder="Nome completo" name="nameUser" />
            <input class="form-control" value="<%= user.email %>" type="text" placeholder="E-mail" name="emailUser" />
        </div>
        <div class="form-group">
            <input class="form-control btn btn-primary" type="submit" value="Salvar Alterações" />
        </div>
    </form>
</body>
<% include ../partials/footer.ejs %>